# Optional: GitHub Actions workflow for automatic deployment to Heroku
# Uncomment and configure to enable CI/CD

name: Deploy to Heroku

on:
  push:
    branches:
      - master
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Deploy to Heroku
        uses: akhileshns/heroku-deploy@v3.12.14
        with:
          heroku_api_key: ${{ secrets.HEROKU_API_KEY }}
          heroku_app_name: ${{ secrets.HEROKU_APP_NAME }}
          heroku_email: ${{ secrets.HEROKU_EMAIL }}
          buildpack: |
            https://github.com/heroku/heroku-buildpack-google-chrome
            https://github.com/heroku/heroku-buildpack-chromedriver
            heroku/python
      
      - name: Health Check
        run: |
          sleep 30
          curl -f https://${{ secrets.HEROKU_APP_NAME }}.herokuapp.com/health || exit 1

